{% extends 'base.html' %}

{% block title %}История баланса{% endblock %}

{% block body %}

    <h1 style="text-align: center">История баланса:</h1>

    <table class="table table-striped">
    <thead>
    <tr>
    	<th>Дата:</th>
    	<th>Категория:</th>
    	<th>Сумма:</th>
    	
    	
    </tr>
    </thead>
    <tbody>
    {% for item in balance %}
    <tr>
    	<td>{{ item.datetime }}</td>
        <td>{{ item.category }}</td>
        <td>
        {% if item.amount > 0 %} 
    	<span style="color: green">
    	{% else %}
    	<span style="color: red">
    	{% endif %}
    	{{ item.amount }}
    	</span></td>
    </tr>
    {% endfor %}
    </table>
    </tbody>
    <p style="text-align: right;">Текущий баланс:
    	{% if diff > 0 %} 
    	<span style="color: green">
    	{% else %}
    	<span style="color: red">
    	{% endif %}
    	{{ diff }}
    	</span>
   	</p >

{% endblock %}