{% extends 'base.html' %}

{% block title %}{{ label }}:{% endblock %}

{% block body %}
    <h1 class="h_to_center">{{ label }}</h1>
    {% if items %}
        <table class="table table-striped">
        <thead>
        <tr>
        	<th>Название счета:</th>
        	<th>Категория:</th>
            <th>Дата добавления:</th>
            <th>Сумма:</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.account }}</td>
            <td>{{ item.category}}</td>
            <td>{{ item.datetime}}</td>
            <td>
            {% if item.type_of %}
                {% if item.type_of == '+' %}
                <span style="color: green">
                {% else %}
                <span style="color: red">
                {% endif %}
                {{ item.type_of}}{{ item.amount}}</span>
            {% else %}
                {{ item.type_of}}{{ item.amount}}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
        </tbody>
        <h4 class="h_to_center"><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"  href="{% url 'add_income' %}">Добавить новую запись</a></h4>

    {% else %}
        <h3 class="h_to_center">Увы список пуст!</h3>
        <h4 class="h_to_center">Но вы можете добавить новый элемент <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"  href="{% url 'add_account' %}">Добавить!</a></h4>
    {% endif %}
{% endblock %}