<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Мои финансы(BETA){% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
	<div class="container">
	{% block menu %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <a class="navbar-brand" href="">Мои финансы(BETA)</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Получить
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a  class="dropdown-item" href="{% url 'get_full'%}">Общая выписка по доходам и расходам</a></li>
                            <li><a  class="dropdown-item" href="{% url 'get_income'%}">Выписку по доходам</a></li>
                            <li><a  class="dropdown-item" href="{% url 'get_expenses'%}">Выписку по расходам</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Категорию</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'get_income_sub_category'%}">Доходов</a></li>
                                    <li><a class="dropdown-item" href="{% url 'get_expenses_sub_category'%}">Расходов</a></li>                                
                                </ul>
                            </li>                             
                            <li><a  class="dropdown-item" href="{% url 'get_accounts'%}">Перечень счетов</a></li>
                            <li><a  class="dropdown-item" href="{% url 'get_currency'%}">Перечень валют</a></li>
                        </ul>
                    </li>  
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Добавить
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Движение по счету</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'add_income'%}">Доход</a></li>
                                    <li><a class="dropdown-item" href="{% url 'add_expenses'%}">Расход</a></li> 
                                </ul>
                            </li>                               
                            <li><a  class="dropdown-item" href="{% url 'add_account'%}">Счет</a></li>
                            <li><a  class="dropdown-item" href="{% url 'add_currency'%}">Валюту</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Категорию</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Расходов</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'add_expenses_category'%}">Категорию</a></li>
                                            <li><a class="dropdown-item" href="{% url 'add_expenses_sub_category'%}">Подкатегорию</a></li> 
                                        </ul>
                                      </li>                                            
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"  href="">Доходов</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'add_income_category'%}">Категорию</a></li>
                                            <li><a class="dropdown-item" href="{% url 'add_income_sub_category'%}">Подкатегорию</a></li> 
                                        </ul>
                                         
                                    </li>                                    
                                </ul>
                            </li>                                                 
                        </ul>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}" >Администрирование</a>
                    </li>
        		</ul>
	   </div>
	   </nav>
    {% endblock %}

	{% block body %}<h1 style="text-align:">Добро пожаловать в приложение для учета ваших финансов</h1>{% endblock %}
	</div>
</body>
</html>
